@using Microsoft.AspNetCore.Identity
@using Tich_hop_EntityFramework.models
    @* <span class="badge badge-danger">Day la login partial</span> *@
    
@inject SignInManager<AppUser> SignIn
@inject UserManager<AppUser> UserManager

    @{
        //chứa thông tin đăng nhập của user - được thiết lập trong mỗi truy vấn do 2 middleware authentication - authorization 
        //
        @* SignIn.IsSignedIn(User) // kiểm tra đã đăng nhập - true đã đăng nhập
        UserManager.GetUserName(User) // lấy thông tin tên đăng nhập *@
    }
<ul class="navbar-nav">
    @if(SignIn.IsSignedIn(User))
    {
 <li class="nar-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" >
       Xin Chao @UserManager.GetUserName(User)
        </a>
    </li>
     <li class="nar-item">
         @* khi clik vào goi đến trang logout *@
        @* <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Logout" >Đăng Xuất</a> *@

        @* ta tùy chình khi click vào thì ta đăng xuất luôn không cần qua trang logout *@
         @* <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post"> *@
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark" >Đăng xuất</button>
            </form>
    </li>

    }else
    {


    <li class="nar-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register" >Đăng ký</a>
    </li>
     <li class="nar-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login" >Đăng nhập</a>

    </li>


    }
    </ul>
