@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Thông báo xác thực Email";
}

<h1>@ViewData["Title"]</h1>

<div class="alert-danger">
    <pan>Bạn cần truy cập vào Email để xác thực tài khoản</pan>
</div>
